fastapi
uvicorn
debugpy
httpx
beautifulsoup4
python-dotenv
prometheus-fastapi-instrumentator
pydantic
opencv-python

# #ai
# edge_tts
# pygame
# pyaudio
# numpy
# unstructured
# faster_whisper 
# scipy
# langchain
# langchain-community
# langchain_core
# sentence-transformers
# chromadb
# ollama


# recomendation engine
lancedb
pandas
pytest
